<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>This will be its contents.</h2>

    <%if (messages.length > 0) {%>
    <form
      method="POST"
      action="/<%= pathname %>/<%= fieldId %>/update"
      class="form"
    >
      <% let keys = Object.keys(messages[0]); let vals =
      Object.values(messages[0]); %>
      <p>Object Identifier: <%=fieldId%></p>

      <% for (let i = 1; i < keys.length;
      i++){ %>

      <div className="myInput">
        <label>
          <%=keys[i]%>
          <input value="<%=vals[i]%>" type="text" name="<%=keys[i]%>" placeholder="<%=keys[i]%>" />
        </label>
      </div>

      <% }} %>
      <button type="submit">Save entry</button>
    </form>
  </body>
</html>
