<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>This will be its contents.</h2>

    <div>
      <% if (messages.length > 0) { let keys = Object.keys(messages[0]); let
      vals = Object.values(messages[0]); %>
      <p>Object Identifier: <%=vals[0]%></p>

      <% 
      const foreignKeyFields = {
    brand_id: "brands",
    engine_type_id: "engine_types",
    color_id: "colors"
};

      
      for (let i = 1; i < keys.length; i++){ %>

      <div className="myInput">
        <label>
          <%=keys[i]%>
          <input value="<%=vals[i]%>" type="text" placeholder="<%=keys[i]%>" readonly />
        </label>
      </div>

      <% }} %>
    </div>

    <a href="">Delete entry</a>
    <a href="/<%= pathname %>/<%= fieldId %>/update">Edit entry</a>
  </body>
</html>
